.arrows {
    position: relative;
}

.arrows .left-arrow,
.arrows .right-arrow {
    position: absolute;
    top: -8rem;
    font-size: 4rem;
    font-weight: 700;
    cursor: pointer;
}

.arrows .right-arrow {
    right: 30%;
}

.arrows .left-arrow {
    left: 30%;
}

.arrows .right-arrow:is(:hover),
.arrows .left-arrow:is(:hover) {
    color: #ce3824;
}
