.network {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5rem auto 0;
    overflow-y: hidden;
    overflow-x: scroll;
    
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.network::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.network .network-item {
    /* padding: 1rem; */
    cursor: pointer;
}

.network .network-item.active {
    border-bottom: 2px solid #ce3824;
}

.network .network-item img {
    aspect-ratio: 16/9;
    height: 3rem;
    display: block;
    cursor: pointer;
    -webkit-filter: drop-shadow(5px 5px 5px #1b1b1b);
    filter: drop-shadow(5px 5px 5px #1b1b1b); 
}