.row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: .4rem;
    margin: 1rem auto;
    height: auto;

    overflow-y: hidden;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
}

.row::-webkit-scrollbar {
    display: none;
}

.row-title {
    position: relative;
    z-index: 10;
}


.empty-rows {
    padding: 4rem 8rem;
    text-align: center;
}