.row .card {
    position: relative;
    flex-shrink: 0;
    text-align: left;
    border-radius: .6rem;
    overflow: hidden;
    cursor: pointer;
}

.row .card .overlay {
    position: absolute;
    bottom: 0;
    height: 14rem;
    width: 100%;
    border-radius: .4rem;
    background-image: linear-gradient(
        180deg, 
        transparent,
        rgba(37,37,37, 0.60), 
        rgb(22, 22, 22)
    );
}

.row .card:hover .overlay {
    height: 100%;
    overflow: hidden;
    border-radius: .4rem;
    background-image: linear-gradient(
        180deg, 
        rgba(19, 19, 19, 0.4), 
        #000000
    );
}

.row .card .overlay .description {
    color: white;
    position: absolute;
    bottom: 0;
}

.row .card.poster,
.row .card:hover.poster .overlay {
    height: 22rem;
    width: 14rem;
}

.row .card.backdrop,
.row .card:hover.backdrop .overlay {
    height: 14rem;
    width: 24rem;
}

/* ----- START POSTER CARDS ----- */
.row .card.poster .overlay .description{
    display: none;
}

.row .card:hover.poster .overlay .description {
    display: block;
}
/* ----- END POSTER CARDS ----- */

/* ----- START BACKDROP CARD ----- */
.row .card.backdrop .overlay .description h4.title {
    display: block;
}

.row .card:hover.backdrop .overlay .description h4.title {
    display: none;
}

.row .card.backdrop .overlay .description p {
    display: none;
}

.row .card:hover.backdrop .overlay .description p {
    display: block;
}
/* ----- END BACKDROP CARD ----- */


.row .card .overlay .description h4 {
    margin: .5rem 1rem;
    padding: 0;
}

.row .card:hover .overlay .description p {
    font-size: .8rem;
    margin: .5rem 1rem;
    padding: 0;
}

.row .card:hover .overlay .description p.summary {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 3; 
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}