.season-nav {
    padding: .5rem;
    margin: 0rem auto 1rem;
    width: 100%;
    text-align: left;
}

.season-nav .seasons {
    overflow-x: auto;
    white-space: nowrap;
}

.season-nav .seasons ul {
    display: inline-block;
    list-style: none; 
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #ffffff40;
}

.season-nav .seasons ul li {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0 0 .5rem 0;
    margin-right: 2rem;
    cursor: pointer;
}

.season-nav .seasons ul li.active {
    border-bottom: 2px solid #ce382480;
}

@media (min-width: 640px) {
    .season-nav {
        width: 75%;
    }
}