.season-nav {
    padding: .5rem;
    margin: 0rem auto 1rem;
    text-align: left;
}

.season-nav .seasons {
    overflow-x: auto;
    white-space: nowrap;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
}

.season-nav .seasons::-webkit-scrollbar {
    display: none; 
 }

.season-nav .seasons ul {
    display: inline-block;
    list-style: none; 
    padding: 0;
    width: 100%;
}

.season-nav .seasons ul li {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0 0 .5rem 0;
    margin-right: 2rem;
    cursor: pointer;
    
    scroll-snap-align: start;
}

.season-nav .seasons ul li.active {
    border-bottom: 2px solid #ce382480;
}