#root {
  text-align: center;

  --fs-header1: clamp(1.8rem, 8vw, 3.2rem);
  --fs-header1: clamp(1.6rem, 7vw, 3rem);
  --fs-default: clamp(.8rem, 2vw, 1.1rem);
}

body {
  margin: 0;
}

.loading {
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

.tvlist section,
.tvpage section {
  width: 96%;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c9c9c9; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ce3824; 
}

@media (min-width: 640px) { 
  .tvlist section,
  .tvpage section {
      width: 80%;
  }
}

@media (min-width: 768px) { 
  .tvlist section,
  .tvpage section {
      width: 70%;
  }
}

@media (min-width: 1024px) { 
    
}

@media (min-width: 1280px) { 

}

@media (min-width: 1536px) { 

}